.section4 {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5% 16%;
    position: relative;
}

.img1 {
    width: 80%;
}

.img2 {
    width: 16%;
    height: 21%;
}

.box h1 {
    font-size: 1rem;
}

.box p {
    font-size: 0.9rem;
    color: #0096FF;
}

.box {
    border-radius: 20px;
    width: 23%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1.1% 1.2%;
    gap: 15px;
    border: 2px solid #303030;
    position: absolute;
    top: 57%;
    background-color: black;
}

.box-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.combine {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img3 {
    width: 12%;
    opacity: 0;
}

.img4 {
    width: 14%;
}

.section4-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
}

.section4-content h1 {
    font-size: 3rem;
}

.section4-content p {
    font-size: 1.6rem;
}

.progress {
    width: 30px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid #0047ab;
}
