
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
button,
span,
li
{
  color: white;
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';                                     
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

span{
  display: block;
}